 @import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,700');

/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Amatic SC', cursive;*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, option, blockquote, pre,
a, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select, input {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  margin: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  color: black;
  text-decoration: none;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  margin: 0.1em;
  text-align: center;
  text-transform: lowercase;
}

label {
  font-size: 1.5em;
  margin: 0.3em 0 0.1em 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form, .main-dish, .flavor-profile, .button, .suggestion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form, .result {
  display: flex;
  justify-content: center;
  margin: 2rem;
  min-width: 35%;
}

select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  margin: 0.5em;
  width: 268px;
}

.wine-suggestion {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  margin: 0.5em;
  width: 268px;
}

.submit {
  background-color: #7d160f;
  border: none;
  color: white;
  font-size: 1.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 3rem;
  margin: 1rem;
  width: 12rem;
}

.hidden {
  display: none;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img {
  margin: 1rem;
}

.response {
  font-size: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 1rem;
  text-align: center;
}

.about {
  margin: 1rem 2rem;
  width: 65%;
}

.about p {
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
}

footer {
  text-align: center;
}

footer p {
  line-height: 1.5em;
}

footer p a {
  color: #7d160f;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

.wine-glass {
  padding: 0 0.3em;
}
